#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: left;
}

.searchBar {
  margin: auto;
  width: 100%;
  min-width: 100px;
  font-size: 1.2em;
}

.countryContainer {
  display: flex;
  gap: 1em;
  padding-top: 2em;
}

.column {
  display: flex;
  flex-direction: column;
}

.countryName {
  font-weight: 700;
}

.country {
  min-width: 400px;
  flex: 1;
  padding: 0.5em;
  color: black;
}

.country:nth-child(2n) {
  background-color: #fafafa;
}

.country:nth-child(odd) {
  background-color: #f0f0f0
}

.animatedBar {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: drawBar;
  animation-name: drawBar;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0
}

@-webkit-keyframes drawBar {
  0% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0)
  }

  to {
      -webkit-transform: scaleX(100%);
      transform: scaleX(100%)
  }
}

@keyframes drawBar {
  0% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0)
  }

  to {
      -webkit-transform: scaleX(100%);
      transform: scaleX(100%)
  }
}